{% extends 'base.html' %}
{% block title %}
Throttle Action | Exclusive Content
{% endblock title %}
{% block addcss %}
{% endblock addcss %}
{% block body %} 
<div class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-6">
			<div class="card border-0 mb-4 box-shadow h-xl-300">              
                <div style="background-image: url(/media/Reviews/Banner/Adventure\ 390.png); height: 150px;    background-size: cover;    background-repeat: no-repeat;"></div>               
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="/showreview/exploring-the-ktm-adventure-390-variants">KTM Adevnture 390 Line Up Explained!</a>
					</h2>
					<p class="card-text">
						 Here is a detailed analysis of the KTM Aventure 390 and all its variants. Read more to choose the perfect one for you!
					</p>
					<div>
						<small class="d-block"><a class="text-muted">Minaketan Mishra</a></small>
						<small class="text-muted">Jul 27 &middot; 5 min read</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/media/Exclusive/Banner/ev.jpeg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/showexclusive/underwhelming-facts-about-evs-nobody-talks-about">Underwhelming facts about EVs nobody talks about</a>
						</h2>
						<div class="card-text text-muted small">
							 Minaketan Mishra
						</div>
						<small class="text-muted">Jul 27 &middot; 5 min read</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/media/Exclusive/Banner/self-driving-car-concept.PNG">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/showexclusive/the-relevance-of-autonomous-vehicles-in-india">The Relevance of Autonomous Vehicles in India</a>
						</h2>
						<div class="card-text text-muted small">
							 Minaketan Mishra
						</div>
						<small class="text-muted">Jul 28 &middot; 5 min read</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/media/Exclusive/Banner/pexels-photo-357861.jpeg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="/showexclusive/bharat-stage-vi-bs-vi-emission-norms-a-leap-towards-cleaner-air">Bharat Stage VI (BS-VI) Emission Norms: A Leap Towards Cleaner Air</a>
						</h2>
						<div class="card-text text-muted small">
							 Minaketan Mishra
						</div>
						<small class="text-muted">Jul 28 &middot; 5 min read</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>All Exclusive Content</span></h5>
			{% for i in exclusivelist %}
			{% if i.Status_article == "active"  %}
			<div class="mb-3 d-flex justify-content-between">
				<div class="pr-3">
					<h2 class="mb-1 h4 font-weight-bold">
					<a class="text-dark" href="showexclusive/{{i.slug}}">{{i.title}}</a>
					</h2>
					<p>
						{{i.SEO_description|safe}}
					</p>
					<div class="card-text text-muted small">
						{{i.author}}
					</div>
					<small class="text-muted">{{i.created_on}} &middot; 5 min read</small>
				</div>
				<img height="120" src="/media/{{i.thumbnail}}">
			</div>
            {% endif %}
            {% endfor %}
		</div>
		<div class="col-md-4 pl-4">
            <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
			<ol class="list-featured">
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/showreview/suzuki-v-strom-250-sx-exploring-adventure-in-style" class="text-dark">Suzuki V-Strom 250 SX - Exploring Adventure in Style</a>
				</h6>
				<p class="text-muted">
				    Minaketan Mishra
				</p>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/showexclusive/underwhelming-facts-about-evs-nobody-talks-about" class="text-dark">Underwhelming facts about EVs nobody talks about</a>
				</h6>
				<p class="text-muted">
					Kajol Dash
				</p>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/showexclusive/shared-mobility-services-in-india-transforming-transportation-landscape" class="text-dark">Shared Mobility Services in India: Transforming Transportation Landscape</a>
				</h6>
				<p class="text-muted">
					Minaketan Mishra
				</p>
				</span>
				</li>
				<li>
				<span>
				<h6 class="font-weight-bold">
				<a href="/showreview/exploring-the-ktm-adventure-390-variants" class="text-dark">	Exploring the KTM Adventure 390 Variants</a>
				</h6>
				<p class="text-muted">
					Minaketan Mishra
				</p>
				</span>
				</li>
			</ol>
		</div>
	</div>
</div>
{% endblock body %}
{% block scripts %}
{% endblock scripts %}